/* body {
  max-height: 50px;
} */
.jumbotron {
  padding-top: 5rem;
  background-color: #e2edff;
}

#projects {
  background-color: #ffffff;
}
#contack {
  background-color: #e2fff0;
}

section {
  padding-top: 2rem;
}
